<!DOCTYPE HTML>
<html>

<head>
    <title>BlendFloat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>

<body>
    <h1>BlendFloat</h1>
    Async mode is: <b>{{ async_mode }}</b>
    <p><textarea id="bpy"></textarea>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="execCode()">
        exec code
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="bpy('join.py')">
        join
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="bpy('gob.py')">
        gob
        </button>
        <script type="text/javascript" charset="utf-8">
            var bpy = function(name) {
                var g = new Date().getTime()
                $.get('/static/bpy/' + name + '?t=' + g, function(res) {
                    console.log(res)
                    $.post('/exec', {
                        bpy: res
                    })
                })
            }
            var bpy_join = function() {
                var g = new Date().getTime()
                $.get('/static/bpy/join.py?t=' + g, function(res) {
                    console.log(res)
                    $.post('/exec', {
                        bpy: res
                    })
                })
            }
            var execCode = function() {
                var code = $('#bpy').val();
                console.log('exec Code', code);
                //import bpy;bpy.ops.object.select_all()
                $.post('/exec', {
                    "bpy": code
                }, function(res) {
                    console.log(res);
                })
            };
        </script>
</body>

</html>