<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar">
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Auto GoB</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">Join</a>
            <a href="#scroll-tab-3" class="mdl-layout__tab">Console</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content">
                <div style="padding:5px">

                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click='bpy("gob.py")'>gob</button>
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:400px;height:100px;padding: 5px">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click='runZRemesher(zrPolygonsCount)' style="width: 150px">ZRemesher</button>
                        <br> Polygons Count {{zrPolygonsCount}} K
                        <input class="mdl-slider mdl-js-slider" type="range" min="2" max="20" v-model='zrPolygonsCount'>
                    </div>

                    <div class="mdl-card mdl-shadow--2dp" style="width:400px;height:100px;padding: 5px">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click='bpy("gob.py")' style="width: 150px">Dynamesh</button>
                        <br> Resolution {{zdResolution}}
                        <input class="mdl-slider mdl-js-slider" type="range" min="8" max="4096" v-model='zdResolution'>
                    </div>
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="t1" v-model='zscPath'>
                            <label class="mdl-textfield__label" for="t1">ZScripts Path...</label>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click="bpy('join.py')">join</button>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
            <div class="page-content">
                <!-- Floating Multiline Textfield -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click="execCode()">exec code     </button>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows="50" id='sample5'></textarea>
                        <label class="mdl-textfield__label" for="sample5">import bpy</label>
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>