<div>
    <h2>BlendFloat</h2>
    Async mode is: <b></b>
    <p><textarea id="bpy"></textarea>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click="execCode()">
        exec code
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click="bpy('join.py')">
        join
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" @click='bpy("gob.py")'>
        gob
        </button>
</div>